/*
		_media.scss	
*/



@media only screen and (max-width: 1199px){
	html body{
		font-size: 15px;
	}

}











@media only screen and (max-width: 991px){
	html body{
		font-size: 14px;
	}

	.logo{
		img{
			width: 100px;
		}
	}
	.header-navbar, .menu-toggle{
		//@include table-celling( 120px );
		//width: inherit;
	}

	.services-list{
		.icomoon {
			padding-right: 0;
			padding-left: 50px;
			float: left;
		}
		li{
			  display: inline-block;
    		width: 49.5%;
    		text-align: center;
    		padding: 0 2%;
    		&:nth-child(odd){
    			//width: 60%;
    			//text-align: right;
    		}
		}
	}




	#footer{
		
		.footer-content{
			display: block;
		}

		.input{
			max-width: fit-content;
		}

	}



}









@media (max-width: 767px) {

	html body{
		font-size: 13px;
	}
	.slide-header{
		left: 0 !important;
		top: 25% !important;
		max-width: 100%  !important;
		width: 100%  !important;
	}
	.services-list{
		li{
			width: 50%;
		}
		.icomoon {
			padding-right: 10px;
			padding-left: 0;
			float: left;
		}
	}
	main{


		text-align: center;
		h1{
			&::before{
				left: 50%;
	    	margin-left: -25px;
			}
		}
		.about-short, .news-short{
			padding: 0;
		}
		.news-desc{
			margin-left: 5%;
			padding-right: 5%;
		}
		.desc{
			margin: 30px 0;
			padding-right: 15px;
			padding-left: 15px;
		}
		.btn-lnk{
			margin: auto;
			margin-top: 30px;
		}



	}


}








@media only screen and (max-width: 480px){
	html body{
		font-size: 12px;
	}

}


@media (max-width: 280px) {
	#footer{
		display: none;
	}
}














// MIN-WIDTH


@media only screen and (min-width: 1440px){


}

@media (min-width: 768px) {

} 
@media (min-width: 992px) {


} 