 
@import "_normalize.scss";
@import "_fonts.scss";
@import "_font-awesome.scss";
@import "_animate.scss";
@import "_bootstrap.scss";
@import "_helper.scss";
//@import "_text-input-1.scss";
//@import "_fractionslider.scss";
//@import "_owl.carousel.scss";
//@import "_owl.theme.default.scss";
//@import "_aos.scss";
@import "_text-input-2.scss";
@import "_min-menu.scss";
@import "_icomoon.scss";
@import "_flickity.scss";
@import "_style.scss";